<h1>Schedule a Tweet</h1>

<%= render "form", tweet: @tweet %>

<%= button_to "Connect a Twitter Account", "/auth/twitter", data: {turbo: "false"}, method: :post, class: "btn btn-outline-primary mt-3" %>